// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    1000px;
$on-palm:          1000px;
$on-laptop:        1000px;
$on-medium:        1000px;
$on-large:         1200px;

// was on palm 800 and on large 1200, rest 1000